@model PersonalTrainerPortal.Models.ManageWorkoutViewModel
@{
    ViewBag.Title = "Workout";
}


<div ng-app="WorkoutModule">
        <div class="container_styled_1">
            <div class="container margin_100_35">
                <div class="col-md-12">
                    <div class="profile">
                        <p class="text-center"><img src="/Content/img/teacher_2_small.jpg" alt="Teacher" class="img-circle styled_2"></p>
                        <ul class="social_teacher">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class=" icon-google"></i></a></li>
                        </ul>
                        <ul>
                            <li>Name <strong class="pull-right">@Model.ClientFirstName @Model.ClientLastName</strong> </li>
                            <li>Email <strong class="pull-right">@Model.ClientEmail</strong></li>
                            <li>Telephone  <strong class="pull-right">@Model.ClientPhoneNumber</strong></li>
                            <li>Height <strong class="pull-right"></strong></li>
                            <li>Weight <strong class="pull-right"></strong></li>
                            <li>Fitness Goals <strong class="pull-right"></strong></li>
                            <!--<li>Lessons <strong class="pull-right">12</strong></li>
                            <li>Courses <strong class="pull-right">15</strong></li>-->
                        </ul>

                    </div>

                </div>
            </div>
            <hr />
        </div>
    

    <div class="container margin_30">
        <div class="row">
            <aside class="col-md-4" id="sidebar" ng-controller="ExerciseController">
                <div class="col-md-12">
                    <div class="box_style_6">
                        <hr class="styled_2">
                        <div>
                            <h3>My Exercises</h3>
                        </div>
                        <div class="menu-wrapper">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                    </tr>

                                    <tr ng-repeat="exercise in evmList">
                                        <td>
                                            {{exercise.ExerciseTitle}} <a href="#" data-toggle="modal" data-target="#exercise" id="exerciseButton" class="hidden-xs" ng-click="openExercisePopup(exercise.ExerciseTitle)">Add to Workout</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div><!--wrapper_indent -->

                    </div>
                </div>
                <!--Exercise Popup Start-->
                <div class="modal fade" id="exercise" tabindex="-1" role="dialog" aria-labelledby="myExercise" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-popup">
                            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
                            <form class="popup-form" id="myExercise">
                                <h3>{{ExerciseTitle}}</h3>
                                <p class="text-danger"><strong>{{errorMessage}}</strong></p>
                                <input type="hidden" class="form-control" ng-init="exercise.PersonalTrainerID = '@Request.Params[0]'" ng-model="exercise.PersonalTrainerID" />
                                <input type="hidden" class="form-control" ng-init="exercise.ClientID = '@Request.Params[1]'" ng-model="exercise.ClientID" />
                                <input type="text" class="form-control"  ng-model="exercise.ExerciseTitle" value="{{ExerciseTitle}}" placeholder="{{ExerciseTitle}}" readonly/>
                                <input type="text" class="form-control form-white" ng-model="exercise.ExerciseDate" placeholder="Date" />
                                <input type="text" class="form-control form-white" ng-model="exercise.ExerciseSetCount" placeholder="Number of Sets" />
                                <input type="text" class="form-control form-white" ng-model="exercise.ExerciseRepCount" placeholder="Number of Reps" />
                                <input type="text" class="form-control form-white" ng-model="exercise.ExerciseInstructions" placeholder="Specific Instructions" />
                                <button type="submit" class="btn btn-submit" ng-click="addExercise(exercise)">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Exercise Popup End-->
            </aside>
            <div class="col-md-8">
                <div class="box_style_6">
                    <hr class="styled_2">
                    <div class="fc-title">
                        <h3>Workout Calendar</h3>
                    </div>
                    <div ng-controller="CalendarController">
                        @*<div id='calendar' ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources"> </div>*@

                    </div>
                </div><!--wrapper_indent -->

            </div>
        </div><!--End row -->

    </div>
        </div><!--End container -->
    

